/* header {
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   z-index: 1000;
   position: fixed;
} */
::ng-deep{
  app-home-header {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 15px;
  background-color: #fff;
  position: relative;
  margin-bottom: 20px;

  &.trans {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: transparent;
    margin-bottom: 0;
    &-top {
      top: -50px;
    }
  }

  mat-icon {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  div {
    display: flex;
    align-items: center;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 6px;
  }
}

.advertising-block {
  height: 100px;
  margin-bottom: 35px;
}

.navbar {
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 63px;
  justify-content: space-around;
  z-index: 9;
}

.navbar a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar a img {
  height: 28px;
  margin-bottom: 7px;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}
.content-block {
  padding-bottom: 63px;
}
