<div class="home-page">
  <div class="test" scrollable (scrollPosition)="scrollHandler($event)">
    <div class="top-block">
      <div class="top-block-inner" fxLayout="column">
        <span class="title-text">
          BUILD YOUR PROFILE.
          SHOWCASE YOUR TALENT
        </span>
        <div class="search-block">
          <div class="search-input">
            <input type="text" [formControl]="searchControl" placeholder="Search">
            <img src="/assets/icons/search-icon.svg" alt="">
          </div>
          <button pButton type="button" class="ui-button-secondary" label="Фильтр" [ngClass]="{active: isShow}" (click)="isShow = !isShow">
            <img src="/assets/icons/filter-icon.svg" alt="">
          </button>
        </div>
      </div>
      <mat-card [@toggleHeight]="isShow" class="filter-block" [formGroup]="searchGroup">
        <div class="filter-elements">
          <mat-checkbox [value]="withAssessment" (change)="changeAssessment()">With assessment </mat-checkbox>
          <mat-checkbox [value]="withPortfolio" (change)="changePortfolio()">With portfolio</mat-checkbox>
          <mat-form-field class="about-me__input" appearance="outline">
            <mat-label>Preferred employment type</mat-label>
            <mat-select formControlName="employmentType">
              <mat-option *ngFor="let item of times" [value]="item.value">
                {{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="about-me__input" appearance="outline">
            <mat-label>Specializations</mat-label>
            <mat-select formControlName="specializations">
              <mat-option *ngFor="let item of specialize" [value]="item.value">
                {{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
    <div class="items-block">
      <div class="content">
        <ng-container *ngFor="let item of listItems; let index = index; let last= last;">
          <mat-card (click)="onClick($event)">
            <div class="item-header">
              <div class="photo-item">
                <img [src]="item.avatar" alt="">
                <div class="name-item">{{item.name}}</div>
              </div>
              <button mat-icon-button [matMenuTriggerFor]="menuHome" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menuHome="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
            </div>
            <div class="item-slider">
              <swiper class="mySwiper" #swiper [slidesPerView]="'auto'"
                      [pagination]="true">
                <ng-template swiperSlide>
                  <video width="100%" height="100%" controls [attr.poster]="item.poster" [style.pointer-events]="currentUser ? 'auto' : 'none'">
                    <source
                      [attr.src]="item.video?.object?.fileUrl"
                      type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </ng-template>
                <ng-template swiperSlide>
                  <canvas baseChart
                          [data]="item.chartData"
                          [options]="radarChartOptions"
                          [legend]="false"
                          [type]="radarChartType">
                  </canvas>
                </ng-template>
              </swiper>
            </div>
            <div class="item-buttons">
              <ul>
                <li>
                  <a
                    [style.pointer-events]="currentUser ? 'auto' : 'none'"
                    [routerLink]="'/external-profile/'+item.userProfileId">
                    <img src="/assets/icons/folder.svg" alt="folder">
                  </a>
                </li>
                <li>
                  <a
                    [style.pointer-events]="currentUser ? 'auto' : 'none'"
                    (click)="onNextSlide(index)">
                    <img src="/assets/icons/line-up-graph.svg" alt="line-up">
                  </a>
                </li>
                <li>
                  <a
                    [style.pointer-events]="currentUser ? 'auto' : 'none'"
                    [routerLink]="'/external-profile/'+item.userProfileId">
                    <img src="/assets/icons/document.svg" alt="document">
                  </a>
                </li>
                <li>
                  <img [ngClass]="{'is-liked': item?.video?.isLiked}" (click)="onLikeClick(item?.video?.object?.id, item?.video?.isLiked)" src="/assets/icons/like.svg" alt="like">
                </li>
                <li>
                  <a [attr.href]="item?.resume" target="_self"  download="fileName.pdf">
                    <img src="/assets/icons/pdf-adobe.svg" alt="document-pdf">
                  </a>
                </li>
              </ul>
            </div>
          </mat-card>
          <div *ngIf="index+1 == 10 || (last && advers)" class="advertising-block">
            <img width="100%" src="/assets/images/reklama.jpg" alt="">
          </div>

        </ng-container>


        <!-- <mat-card (click)="onClick($event)">
          <div class="item-header">
            <div class="photo-item">
              <img src="/assets/images/avatar.png" alt="">
              <div class="name-item">Ivan Ivanov</div>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
          <div class="item-slider">
            <swiper class="mySwiper" [slidesPerView]="'auto'"
            [pagination]="true">
              <ng-template swiperSlide>
                <video width="100%" height="100%" controls poster="/assets/images/video.jpg">
                  <source
                    src="http://www.example.com/waterfall-video.mp4"
                    type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </ng-template>
              <ng-template swiperSlide>
                <canvas baseChart
                [data]="radarChartData"
                [options]="radarChartOptions"
                [legend]="false"
                [type]="radarChartType">
              </canvas>
              </ng-template>
            </swiper>
          </div>
          <div class="item-buttons">
            <ul>
              <li>
                <a
                  [style.pointer-events]="currentUser ? 'auto' : 'none'"
                  routerLink="/profile">
                  <mat-icon>person</mat-icon>
                </a>
              </li>
              <li>
                <a
                  [style.pointer-events]="currentUser ? 'auto' : 'none'"
                  routerLink="/profile">
                  <mat-icon>leaderboard</mat-icon>
                </a>
              </li>
              <li>
                <a
                  [style.pointer-events]="currentUser ? 'auto' : 'none'"
                  routerLink="/profile/about-me">
                  <mat-icon>person_outline</mat-icon>
                </a>
              </li>
              <li>
                <mat-icon>thumb_up_off_alt</mat-icon>
              </li>
              <li>
                <mat-icon>description</mat-icon>
              </li>
            </ul>
          </div>
        </mat-card>
        <mat-card (click)="onClick($event)">
          <div class="item-header">
            <div class="photo-item">
              <img src="/assets/images/avatar.png" alt="">
              <div class="name-item">Ivan Ivanov</div>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
          <div class="item-slider">
            <swiper class="mySwiper" [slidesPerView]="'auto'"
            [pagination]="true">
              <ng-template swiperSlide>
                <video width="100%" height="100%" controls poster="/assets/images/video.jpg">
                  <source
                    src="http://www.example.com/waterfall-video.mp4"
                    type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </ng-template>
              <ng-template swiperSlide>
                <canvas baseChart
                [data]="radarChartData"
                [options]="radarChartOptions"
                [legend]="false"
                [type]="radarChartType">
              </canvas>
              </ng-template>
            </swiper>
          </div>
          <div class="item-buttons">
            <ul>
              <li>
                <a
                  [style.pointer-events]="currentUser ? 'auto' : 'none'"
                  routerLink="/profile">
                  <mat-icon>person</mat-icon>
                </a>
              </li>
              <li>
                <a
                  [style.pointer-events]="currentUser ? 'auto' : 'none'"
                  routerLink="/profile">
                  <mat-icon>leaderboard</mat-icon>
                </a>
              </li>
              <li>
                <a
                  [style.pointer-events]="currentUser ? 'auto' : 'none'"
                  routerLink="/profile/about-me">
                  <mat-icon>person_outline</mat-icon>
                </a>
              </li>
              <li>
                <mat-icon>thumb_up_off_alt</mat-icon>
              </li>
              <li>
                <mat-icon>description</mat-icon>
              </li>
            </ul>
          </div>
        </mat-card>
        <mat-card (click)="onClick($event)">
          <div class="item-header">
            <div class="photo-item">
              <img src="/assets/images/avatar.png" alt="">
              <div class="name-item">Ivan Ivanov</div>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
          <div class="item-slider">
            <swiper class="mySwiper" [slidesPerView]="'auto'"
            [pagination]="true">
              <ng-template swiperSlide>
                <video width="100%" height="100%" controls poster="/assets/images/video.jpg">
                  <source
                    src="http://www.example.com/waterfall-video.mp4"
                    type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </ng-template>
              <ng-template swiperSlide>
                <canvas baseChart
                [data]="radarChartData"
                [options]="radarChartOptions"
                [legend]="false"
                [type]="radarChartType">
              </canvas>
              </ng-template>
            </swiper>
          </div>
          <div class="item-buttons">
            <ul>
              <li>
                <a
                  [style.pointer-events]="currentUser ? 'auto' : 'none'"
                  routerLink="/profile">
                  <mat-icon>person</mat-icon>
                </a>
              </li>
              <li>
                <a
                  [style.pointer-events]="currentUser ? 'auto' : 'none'"
                  routerLink="/profile">
                  <mat-icon>leaderboard</mat-icon>
                </a>
              </li>
              <li>
                <a
                  [style.pointer-events]="currentUser ? 'auto' : 'none'"
                  routerLink="/profile/about-me">
                  <mat-icon>person_outline</mat-icon>
                </a>
              </li>
              <li>
                <mat-icon>thumb_up_off_alt</mat-icon>
              </li>
              <li>
                <mat-icon>description</mat-icon>
              </li>
            </ul>
          </div>
        </mat-card>
        <mat-card (click)="onClick($event)">
          <div class="item-header">
            <div class="photo-item">
              <img src="/assets/images/avatar.png" alt="">
              <div class="name-item">Ivan Ivanov</div>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
          <div class="item-slider">
            <swiper class="mySwiper" [slidesPerView]="'auto'"
            [pagination]="true">
              <ng-template swiperSlide>
                <video width="100%" height="100%" controls poster="/assets/images/video.jpg">
                  <source
                    src="http://www.example.com/waterfall-video.mp4"
                    type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </ng-template>
              <ng-template swiperSlide>
                <canvas baseChart
                [data]="radarChartData"
                [options]="radarChartOptions"
                [legend]="false"
                [type]="radarChartType">
              </canvas>
              </ng-template>
            </swiper>
          </div>
          <div class="item-buttons">
            <ul>
              <li>
                <a
                  [style.pointer-events]="currentUser ? 'auto' : 'none'"
                  routerLink="/profile">
                  <mat-icon>person</mat-icon>
                </a>
              </li>
              <li>
                <a
                  [style.pointer-events]="currentUser ? 'auto' : 'none'"
                  routerLink="/profile">
                  <mat-icon>leaderboard</mat-icon>
                </a>
              </li>
              <li>
                <a
                  [style.pointer-events]="currentUser ? 'auto' : 'none'"
                  routerLink="/profile/about-me">
                  <mat-icon>person_outline</mat-icon>
                </a>
              </li>
              <li>
                <mat-icon>thumb_up_off_alt</mat-icon>
              </li>
              <li>
                <mat-icon>description</mat-icon>
              </li>
            </ul>
          </div>
        </mat-card> -->
      </div>


    </div>
  </div>


</div>
