.videome {
    &__video-info {
        background-color: #DDFFE4;
        padding: 10px;

        p {
            margin: 5px;
            font-weight: bold;
            font-size: 12px;
        }
        ul {
            margin: 0;
            padding-left: 10px;
            li {
                list-style: none;
                font-size: 10px;
            }
        }
    }

    &__video-block {
        margin-top: 20px;
        background-color: #fff;
        padding: 20px 10px;
        margin-bottom: 25px;
        .text-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            span {
                padding: 5px;
                background-color: #FF3333;
                border-radius: 4px;
                color: #fff;
                font-weight: 600;
                font-size: 10px;
                &.validTime {
                    background-color: #32A991;
                }
            }
        }
        h3 {
            margin: 5px;
            font-weight: bold;
        }
        .video-buttons {
            margin-top: 20px;
        }
        ul {
            margin: 0;
            padding-left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid #DDDDDD;
            li {
                list-style: none;
                font-weight: 600;
                font-size: 7px;
                color: #9F9F9F;
                padding: 0 10px;
                margin-bottom: -3px;
                height: 20px;
                display: flex;
                align-items: center;
    
                &:active, &:focus {
                    background-color: #DEF3FF;
                    border-bottom: 2px solid #509DC8;
                }
                &:last-child {
                    margin-bottom: -2px;
                } 
                input {
                    display: none;
                }
                p {
                    margin: 0;
                }
            }
        }
    }

    &__questions {
        background-color: #fff;
        padding: 15px 10px 20px;
        margin-top: -10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        .mat-input-element:disabled {
            color: #6D6D6D;
        }

        .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
            background-color: #6D6D6D;
        }
    }
    
}
.profile-main__video-block__video {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px 20px;
}